@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>PUC TAREFAS</h1>
    <p class="lead">Essa aplicação é perfeita para você que deseja gerenciar sua equipe com mais precisão e agilidade.</p>
    <p><a href="http://pucminas.br" class="btn btn-primary btn-lg">Ler Mais &raquo;</a></p>

    <div class="row">
        <div class="col-md-12" >

            @Html.Partial("Calendario")
        </div>
    </div>
</div>
